button {
    background-color: #0000;
    color: white;
    border: 1px solid #0000;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 1%;
    position: relative;
    top: -30px;
}

button:hover {
    border: 2px solid black;
}

img {
    width: 150px;
}




