.catigory-list {
  display: flex; /*display flexibel*/
  justify-content: center; /*damit die nebenainander sind*/
  margin-top: 20px; /*abstand nach oben*/
  position: relative; /*position relativ*/
  top: 500px; /*nach unten 500px*/
}

.catigory-button {
  background: linear-gradient(135deg, rgba(128, 128, 128, 0.74), #1e1e1e); /*hintergrund farbe*/
   box-shadow:
    -0.15em -0.15em 0.15em -0.075em rgba(156, 154, 154, 0.25), /*hintergrund schatten*/
    0.15em 0.15em 0.15em -0.075em rgba(156, 154, 154, 0.25);
  color: rgba(255, 255, 255, 0.589); /*text farbe*/
  border: none; /*kein rand*/
  border-radius: 20px; /*runder button*/
  padding: 10px 20px; /*abstand innerhalb des buttons*/
  margin: 0 10px; /*abstand zwischen den buttons*/
  cursor: pointer; 
  transition: transform 0.2s ease; /*animation*/
}

.catigory-button:hover {
 transform: scale(1.1) translateY(-10px); /*animation*/
}


