.image-slider {
    border: 2px solid gray; /*umrandung vom rand*/
    position: absolute; /*position absolute*/
    width: 900px; /*breite 900px*/
    height: 500px; /*hoehe 500px*/
    overflow: hidden;/*damit die umrandung gut ausseiht*/
    border-radius: 15px; /*runde ecken*/
    left: 50%; /*damit es in der mitte ist*/
    top: 140%; /*damit es in der mitte ist und abstand*/
    transform: translate(-50%, -5%); /*damit es in der mitte ist*/
}

.image-slider  img {
    width: 100%; /*bilder breite*/
    height: 100%; /*bilder hoehe*/
    object-fit: cover; 
}

#stopButton {
    position: absolute; /*position absolute*/
    top: 140%; /*nach unten 140%*/
    left: calc(50% + min(450px, 45vw));
    transform: translateX(-100%); /*damit der button zentriert ist*/
    z-index: 1;
    cursor: pointer;
}

#stopButton img {
    width: 44px; /*breite vom button*/
    height: 44px; /*hoehe vom button*/
}
