.pictures-box {
    border: 2px solid gray;
    position: absolute;
    width: 900px;
    height: 500px;
    overflow: hidden;
    border-radius: 15px;
    left: 50%;
    top: 119%;
    transform: translate(-50%, -5%);
}

.pictures-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#stopButton {
    position: absolute;
    top: 330%;
    left: 45%;
    right: 92%;
    cursor: pointer;
}

#stopButton img {
    width: 70px;
    height: 70px;
}
