.search-bar {
  position: relative;
  background: white;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid var(--border);
  border-radius: 50px;
  overflow: visible;
  top: -100px;
}

.search-bar input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text);
}

.search-button {
  border: none;
  border-radius: 24px;
  background: gray;
  color: #222;
  padding: 10px 10px;
  font: inherit;
  cursor: pointer;
  position: relative;
  top: -5px;
  left: -10px;
}

.search-button:hover {
  opacity: 0.85;
}






