@media (max-width: 768px) {
  body {
     background: linear-gradient(135deg, #000000, #1e1e1e); /*hintertgrund mobile header */
    background-attachment: fixed; /*sorgt dafur dass bei mobile kein zweiter hintergrund kommt*/
  }

  .header {
    position: absolute; /*damit es absolute bleibt*/
    width: 100%; /*breite fur mobile*/
    padding: 1px 0; /*abstand grose*/
  }

  .logo {
    padding-left: 1; /*rand abstand links*/
    width: 90px; /*logo breite*/
  }
}

@media (max-width: 768px) {  /*zeigt kein bild an bei mobile*/
    button img {
        display: none;
    }
}


@media (max-width: 768px) {
    .search-bar{
    display: none !important; /*zeigt die searchbar auf handy nicht an*/
    }
}



@media (max-width: 768px) {
    #myMenu {
        display: block; /*handy sichbar*/
        position: absolute;
        top: 30px; /*nach unten*/
        right: 12px; /*abstand rechts*/
        z-index: 1;
    }

   #myMenu img{
    display: block;
    width: 30px;
    margin: 0;
    padding: 0;
   }
   
   #mobileMenuSidebar {
    background-color: gray; /*hintergrund farbe*/
    width: 70%; /*breite der sidebar*/
    height: 400px; /*grose der sidebar*/
    margin-left: 30%; /*sidebar links*/
    top: -700%; /*970% nach oben*/
    display: none;
    position: relative;
   }

 
   #closeButton {
    color: red; /*kreuz farbe*/
    right: 3%; /*rects am rand*/
    top: 380px; /*380px nach unten*/
    font-size: 122%; /*grose vom kreuz*/
   }
  }

  @media (max-width: 768px) {
  .mobile-search input {
    flex: 1;
    min-width: 0;
    padding: 10px 14px;
    border: none;
    border-radius: 5%;
    outline: none;
    background: #0000008c;
      position: relative;
    top: -27px;
}

  .mobile-search {
   display: flex;
}
  }

    @media (max-width: 768px) {
      button {
        color: black;
      }

 .mobile-aboutme{
  display: flex;
 }
  }

@media (max-width: 768px) {
     #closeButton {
    display: block; /*close button fur mobile sichbar*/
  }
}

@media (max-width: 768px) {
.image-slider {
    border: 2px solid gray; /*umrandung vom rand*/
    position: absolute; /*position absolute*/
    width: 400px; /*breite 400px*/
    height: 300px; /*hoehe 300px*/
    overflow: hidden;/*damit die umrandung gut ausseiht*/
    border-radius: 15px; /*runde ecken*/
    left: 50%; /*damit es in der mitte ist*/
    top: 119%; /*damit es in der mitte ist*/
    transform: translate(-50%, -5%); /*damit es in der mitte ist*/
}

.image-slider img {
    width: 100%; /*bilder breite*/
    height: 100%; /*bilder hoehe*/
    object-fit: cover; 
}

@media (max-width: 768px) {
       #stopButton {
    display: block; /*close button fur mobile sichbar*/
    top: 119%;
  }
}

     #stopButton img {
    display: block; /*close button fur mobile sichbar*/
  }
}

@media (max-width: 768px) {
   .catigory-list {
  display: flex; /*display flexibel*/
 justify-content: center; /*zentriert die buttons*/
  position: relative; /*position relativ*/
  top: 400px; /*nach unten 500px*/
}

.catigory-button {
  background: linear-gradient(135deg, rgba(128, 128, 128, 0.74), #1e1e1e); /*hintergrund farbe*/
   box-shadow:
    -0.15em -0.15em 0.15em -0.075em rgba(156, 154, 154, 0.25), /*hintergrund schatten*/
    0.15em 0.15em 0.15em -0.075em rgba(156, 154, 154, 0.25);
  color: rgba(255, 255, 255, 0.589); /*text farbe*/
  border: none; /*kein rand*/
  border-radius: 20px; /*runder button*/
  padding: 1px 8px; /*abstand innerhalb des buttons*/
  margin: 0 2px; /*abstand zwischen den buttons*/
  cursor: pointer; 
  transition: transform 0.2s ease; /*animation*/
}

.catigory-button:hover {
 transform: scale(1.1) translateY(-10px); /*animation*/
}
}





 