body {
  margin: 0;
  min-height: 200vh;   /*genug Seitenhoehe fuer den absolut positionierten Slider*/
  /* Verläuft von tiefem Schwarz (#000000) zu einem sehr dunklen Grau (#1e1e1e) */
  background: linear-gradient(135deg, #000000, #1e1e1e);
  background-attachment: fixed; /*sorgt dafur dass bei mobile kein zweiter hintergrund kommt*/
}


.header {
    background: linear-gradient(135deg, rgba(128, 128, 128, 0.74), #1e1e1e); /*header hintergrund farbe*/
    position: absolute; /*damit das absolote bleibt*/
    top: 0%; /*damit es am rand klebt*/
    left: 0%; /*damit die ecken am rand bleiben*/
    width: 100%; /*die breite von header*/
    height: 14%; /*die grose des header*/
    position: absolute; /*damit es beim scrollen klebt*/
}



.logo {
    padding-left: 1%; /*rand rechts 1 prozent verschoben*/
    width: 130px; /*breite des logos ist 128 px */
     position: relative; /*relativ egal*/
    top: 20px ; /*nach unten 20px*/
}


h1 {
color: gray; /*farbe von der schrift*/
position: relative; /*position egal*/
top: -120px; /*100px nach oben*/
left: 43%; /*43% nach links*/
}

#RecentlySearched { /*style fur die schrift die weg geht*/
    display: none;
}

#popup {
    display: none; /*popup unsichtbar*/
    position: fixed; /*damit es immer sichtbar ist*/
    position: absolute; /*damit es immer sichtbar ist*/
    background: gray; /*hintergrund farbe*/
    color: black; /*text farbe*/
    padding: 20px 200px; /*padding grose*/
    border-radius: 15px; /*runde ecken*/
    top: 20%; /*nach unten 20%*/
    left: 40%; /*nach links 40%*/
    margin-top: 80px; /*nach unten 80px*/
    width: 30px; /*breite des popups*/
}

#myMenu {
    display: none; /*pc bildschrim unsichbar*/
}


.mobile-search {
    display: none; /*mobile searchbar fur pc unsichbar*/
}

.mobile-aboutme {
    display: none; /*mobile aboutme fur pc unsichbar*/
}

#closeButton {
    display: none; /*close button fur pc unsichbar*/
}